<div class="container text-center">
    <div class="row">
        <div class="col">
            <!-- Modal de eliminación -->
            <section class="modal fade rounded-0" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content rounded-0">
                        <div class="modal-header">
                            <h1 class="modal-title fs-4 font-blue" id="exampleModalLabel">Cancelar orden de compra <i class="bi bi-clipboard-x"></i></h1>
                        </div>
                        <div class="modal-body">
                            <p class="font-blue fs-5">¿Está seguro que quiere cancelar la orden de compra?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary rounded-0" data-bs-dismiss="modal">Cerrar</button>
                            <button type="button" class="btn btn-add rounded-0" data-bs-dismiss="modal"
                                (click)="deleteOrder()">Cancelar</button>
                        </div>
                    </div>
                </div>
            </section>
            <section class="mt-3">
                <h1 class="display-5 fw-semibold font-blue">GESTIÓN DE ÓRDENES DE COMPRA <i class="bi bi-clipboard-check"></i></h1>
            </section>
            <!-- Botón agregar -->
            <div class="text-center text-sm-end  mt-5">
                <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
                    <input type="checkbox" [(ngModel)]="seeDesabled" class="btn-check" id="btncheck1"
                        autocomplete="off">
                    <label class="btn btn-outline-primary checkbox-custom rounded-0" for="btncheck1">Ver órdenes canceladas</label>
                </div>
                <a class="btn btn-add rounded-0 ms-2" [routerLink]="['form-order']">Agregar órden</a>
            </div>
            <!-- Tabla -->
            <section class="mt-2">
                <table *ngIf="arrayEnabled.length > 0 || (seeDesabled === true && arrayDisabled.length > 0)" class="table table-hover table-bordered border-secondary-subtle">
                    <thead>
                        <tr>
                            <th>N° de órden</th>
                            <th>Fecha de emisión</th>
                            <th>Fecha de entrega</th>
                            <th>Recepción</th>
                            <th>Proveedor</th>
                            <th>Detalle de órden</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody id="table-body">
                        <!-- Elementos activos -->
                        <ng-container *ngIf="seeDesabled === false">
                            <tr *ngFor="let order of arrayEnabled">
                                <td>{{order.orderNumber}}</td>
                                <td>{{order.issueDate | date: 'dd/MM/yyyy'}}</td>
                                <td>{{order.deliveryDate | date: 'dd/MM/yyyy'}}</td>
                                <td>{{order.receptionInfo}}</td>
                                <td>{{order.provider.companyName}}</td>
                                <td class="text-start ">
                                    <ng-container *ngFor="let detail of order.orderDetails">
                                        <div class="mb-2">{{detail.product.title}} x({{detail.quantity}}) {{detail.product.price | currency}}</div>
                                    </ng-container>
                                    Total {{order.total | currency}}
                                </td>
                                <td class="">
                                    <a class="fs-5 me-2 text-decoration-none option" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="openModal(order.orderNumber)">❌</a>
                                    <a class="fs-5 me-2 text-decoration-none option" [routerLink]="['form-order', order.orderNumber]">✏️</a>
                                    <a class="fs-5 text-decoration-none option" [routerLink]="['/orders', order.orderNumber]">👁️</a>
                                </td>
                            </tr>
                        </ng-container>
                        <!-- Elementos deshabilitados -->
                        <ng-container *ngIf="seeDesabled === true && arrayDisabled.length > 0">
                            <tr class="table-secondary" *ngFor="let order of arrayDisabled">
                                <td>{{order.orderNumber}}</td>
                                <td>{{order.issueDate | date: 'dd/MM/yyyy'}}</td>
                                <td>{{order.deliveryDate | date: 'dd/MM/yyyy'}}</td>
                                <td>{{order.receptionInfo}}</td>
                                <td>{{order.provider.companyName}}</td>
                                <td class="text-start ">
                                    <ng-container *ngFor="let detail of order.orderDetails">
                                        <div class="mb-2">{{detail.product.title}} x({{detail.quantity}}) {{detail.product.price | currency}}</div>
                                    </ng-container>
                                    Total {{order.total | currency}}
                                </td>
                                <td>Cancelada</td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
                <div *ngIf="arrayEnabled.length === 0 && (arrayDisabled.length === 0 || seeDesabled === false)" class="alert rounded-0 alert-custom">
                    <span class="fs-4 font-blue">Todavía no hay elementos, puedes agregar uno <a [routerLink]="['/orders/form-order']" class="alert-link ">presionando aquí</a></span>
                </div>
            </section>
        </div>
    </div>
</div>