<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-blue" aria-label="Offcanvas navbar large">
        <div class="container-fluid">
            <a class="navbar-brand fs-2 fw-semibold " routerLink="">INTEGRADOR</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar2"
                aria-controls="offcanvasNavbar2" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas offcanvas-end text-white bg-blue" tabindex="-1" id="offcanvasNavbar2"
                aria-labelledby="offcanvasNavbar2Label">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasNavbar2Label">ADMINISTRAR</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                        aria-label="Close"></button>
                </div>
                <div class="offcanvas-body pt-0">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <!-- Administración proveedores -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                PROVEEDORES
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item fw-medium font-blue" routerLink="/providers/">VER</a></li>
                                <li><a class="dropdown-item fw-medium font-blue" routerLink="providers/form-provider">AGREGAR</a></li>
                            </ul>
                        </li>
                        <!-- Administración productos -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                PRODUCTOS
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item fw-medium font-blue" routerLink="products/">VER</a></li>
                                <li><a class="dropdown-item fw-medium font-blue" routerLink="products/form-product">AGREGAR</a></li>
                            </ul>
                        </li>
                        <!-- Administración órdenes de compra -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                ÓRDENES DE COMPRA
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item fw-medium font-blue" routerLink="orders/">VER</a></li>
                                <li><a class="dropdown-item fw-medium font-blue" routerLink="orders/form-order">AGREGAR</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>