<div class="row">
    <div class="col-1"></div>
    <div class="col-10">
        <ng-container *ngIf="product != null">
            <!-- Breadcrumb -->
            <section class="mt-4 mb-5">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a class="font-blue text-decoration-none fw-medium" [routerLink]="['/']">Inicio</a></li>
                      <li class="breadcrumb-item"><a class="font-blue text-decoration-none fw-medium" [routerLink]="['/products']">Productos</a></li>
                      <li class="breadcrumb-item"><a class="text-secondary text-decoration-none fw-medium" >{{product.title}}</a></li>
                    </ol>
                  </nav>
            </section>
            <div class="row">
                <section class="col card card-border-blue rounded-0 p-0 me-2">
                    <div class="card-img">
                        <img class="img-fluid" style="max-height: 45rem; min-height: 45rem; width: 100%; object-fit: cover;" src="{{product.image}}" alt="{{product.title}}">
                    </div>
                </section>
                <div class="col card card-border-blue rounded-0">
                    <section class="font-blue subtitle my-3">
                        <h3 class="fs-1 fw-semibold text-center ">{{product.title}}</h3>
                    </section>
                    <section>
                        <p class="fs-1 text-center"><span class="font-blue fw-semibold">{{product.price | currency}}</span></p>
                    </section>
                    <section class="row mb-3">
                        <section class="col text-center ">
                            <div>
                                <p class="fs-2 font-blue fw-semibold">Proveedor:</p>
                            </div>
                            <div>
                                <span class="fs-2">{{product.provider.companyName}}</span>
                            </div>
                        </section>
                        <section class="col text-center">
                            <div>
                                <p class="fs-2 font-blue fw-semibold">Categoría:</p>
                            </div>
                            <div>
                                <span class="fs-2">{{product.category.name}}</span>
                            </div>
                        </section>
                    </section>
                    <section class="card rounded-0 p-2 card-border-blue" style="height: 20rem;">
                        <p class="fs-5"><span class="font-blue fw-medium ">{{product.description}}</span></p>
                    </section>
                    <section class="ps-1">
                        <p class="text-secondary fw-medium ">SKU: {{product.sku}}</p>
                    </section>
                </div>
            </div>
        </ng-container>
        
    </div>
    <div class="col-1"></div>
</div>