<!-- Botón de administrar rubros -->
<div class="text-end">
    <button class="btn btn-add rounded-0" data-bs-toggle="modal"
    data-bs-target="#sectorModal">Administrar Rubros</button>
</div>
<!-- Modal de rubros -->
<section class="modal fade rounded-0" id="sectorModal" data-bs-focus="false" tabindex="-1"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content rounded-0">
            <div class="modal-header">
                <h1 class="modal-title w-100 text-center fs-2 font-blue" id="exampleModalLabel">GESTIÓN DE RUBROS <i class="bi bi-grid-fill"></i></h1>
            </div>
            <div class="modal-body">

                <div class="offset-3 col-6">
                    <div class="d-flex justify-content-end mb-2">
                        <div class="btn-group me-2" role="group" aria-label="Basic checkbox toggle button group">
                            <input type="checkbox" [(ngModel)]="seeDisabled" class="btn-check "
                                id="disabledCategories" autocomplete="off">
                            <label class="btn btn-outline-primary checkbox-custom rounded-0 "
                                for="disabledCategories">Ver eliminados</label>
                        </div>
                        <div class="">
                            <button type="button " class="btn btn-add rounded-0"
                                (click)="openAddSectorModal()">Agregar</button>
                        </div>
                    </div>

                    <ng-container *ngIf="arrayEnabled && arrayDisabled">
                        <div *ngIf="(arrayDisabled.length === 0 && seeDisabled && arrayEnabled.length > 0)" class="alert alert-primary rounded-0 alert-custom mb-0">
                            <span class="fs-4 font-blue">Todavía no cuentas con rubros eliminados</span>
                        </div>
                        <div *ngIf="(arrayEnabled.length === 0 && seeDisabled === false) || (arrayDisabled.length === 0 && seeDisabled && arrayEnabled.length === 0)" class="alert alert-primary  rounded-0 alert-custom">
                            <span class="fs-4 font-blue">Todavía no hay elementos, puedes agregar uno <a (click)="openAddSectorModal()" class="alert-link click">presionando aquí</a></span>
                        </div>
                        <table *ngIf="arrayEnabled.length > 0 || (seeDisabled === true && arrayDisabled.length > 0)"
                            class="table table-bordered custom-bordered">
                            <ng-container *ngIf="seeDisabled === false">
                                <tbody class="text-center">
                                    <tr *ngFor="let sector of arrayEnabled" class="fs-5">
                                        <th class="fw-medium">{{sector.name}}</th>
                                        <td>
                                            <a class="click text-decoration-none"
                                                (click)="openDeleteOrRecoverSectorModal(sector.id!)">🗑️</a>
                                        </td>
                                        <td>
                                            <a class="click text-decoration-none"
                                                (click)="openEditSectorModal(sector)">✏️</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </ng-container>
                            <ng-container *ngIf="seeDisabled && arrayDisabled.length > 0">
                                <tbody class="text-center table-secondary custom-bordered">
                                    <tr *ngFor="let sector of arrayDisabled" class="fs-5">
                                        <th class="fw-medium">{{sector.name}}</th>
                                        <td>
                                            <a class="click text-decoration-none"
                                                (click)="openDeleteOrRecoverSectorModal(sector.id!)">🔄</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </ng-container>
                        </table>
                    </ng-container>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary rounded-0" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</section>
