<div class="container">
    <div class="row">
        <div class="col-auto col-lg-2"></div>
        <div class="col-12 col-lg-8">
            <section>
                <div class="my-5">
                    <h1 class="text-center mb-2 display-5 fw-semibold font-blue ">{{formTitle}} <i class="bi bi-cart-plus"></i></h1>
                </div>
                <p><a class=" fs-6 font-blue" [routerLink]="['/products']">VOLVER</a></p>
            </section>
            <section class="card p-5 rounded-0 card-border-blue">
                <form #productsForm="ngForm" (ngSubmit)="onSubmit(productsForm)">
                    <!-- Datos -->
                    <div class="row mt-2">
                        <div class="col d-flex justify-content-between mx-2">
                            <div class="me-2">
                                <label class="form-label" for="title">Nombre</label>
                                <input id="title" #title="ngModel" [(ngModel)]="product.title"
                                    class="form-control" name="title" type="text" placeholder="Ingrese el nombre"
                                    required maxlength="50">
                                <!-- Mensaje de error -->
                                <div *ngIf="title.touched && title.errors?.['required']" class="text-danger ">
                                    <p><small>Este campo no puede estar vacío</small></p>
                                </div>
                            </div>
                            <div class="me-2">
                                <label for="sku" class="form-label">SKU</label>
                                <input id="sku" [(ngModel)]="product.sku" type="text" name="sku"
                                    class="form-control" #sku="ngModel" placeholder="SAF03WJ2OE" min="0" minlength="1"
                                    required required minlength="4" maxlength="10" pattern="^[A-Za-z0-9]+$" [disabled]="param">
                                <!-- Mensaje de error -->
                                <div *ngIf="sku.touched && sku.errors?.['required']" class="text-danger ">
                                    <p><small>Este campo no puede estar vacío</small></p>
                                </div>
                                <div *ngIf="sku.touched && sku.errors?.['pattern']" class="text-danger ">
                                    <p><small>Este campo solo aceptas letras y números</small></p>
                                </div>
                            </div>
                            <div class="me">
                                <label for="price" class="form-label">Precio</label>
                                <input id="price" #price="ngModel" [(ngModel)]="product.price" type="number"
                                    name="price" class="form-control" placeholder="$0" required min="1" max="9999999" minlength="1"
                                    maxlength="9" [ngModel]="product.price === 0 ? '' : product.price">
                                <!-- Mensaje de error -->
                                <div *ngIf="price.touched && price.errors?.['required']" class="text-danger ">
                                    <p><small>Este campo no puede estar vacío</small></p>
                                </div>
                                <div *ngIf="price.touched && price.errors?.['min']" class="text-danger ">
                                    <p><small>Este campo no puede ser menor a 1</small></p>
                                </div>
                                <div *ngIf="price.touched && price.errors?.['max']" class="text-danger ">
                                    <p><small>Este campo no puede ser mayor a 9.999.999</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row my-5">
                        <div class="col">
                            <div class="me-2 w-100">
                                <label class="form-label" for="image">Imagen</label>
                                <input id="image" name="image" type="text" #image="ngModel" class="form-control"
                                    [(ngModel)]="product.image" placeholder="Ingrese la URL" required pattern="^https?:\/\/[\w\-\.]+(\.[a-zA-Z]{2,3})?(:\d+)?(\/[^\s]*)?$">
                                <!-- Mensaje de error -->
                                <div *ngIf="image.touched && image.errors?.['required']" class="text-danger ">
                                    <p><small>Este campo no puede estar vacío</small></p>
                                </div>
                                <!-- Mensaje de error -->
                                <div *ngIf="image.touched && image.errors?.['pattern']" class="text-danger ">
                                    <p><small>Este campo debe ser una url</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="me-2 w-100">
                                <label class="form-label" for="description">Descripción</label>
                                <textarea #description="ngModel" [(ngModel)]="product.description" class="form-control"
                                    name="description" cols="30" rows="5" placeholder="Ingrese la descripción" required
                                    maxlength="200">
                                </textarea>
                                <!-- Mensaje de error -->
                                <div *ngIf="description.touched && description.errors?.['required']"
                                    class="text-danger ">
                                    <p><small>Este campo no puede estar vacío</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="col d-flex justify-content-around  mx-2">
                            <div class="me-2 w-50">
                                <label for="provider" class="form-label">Proveedor</label>
                                <select id="provider" #provider="ngModel" [(ngModel)]="codeSelectedProvider" class="form-select "
                                    name="provider" required>
                                    <option *ngFor="let provider of providerSelect" value="{{provider.code}}">
                                        {{provider.companyName}}</option>
                                </select>
                                <!-- Mensaje de error -->
                                <div *ngIf="provider.touched && provider.errors?.['required']"
                                    class="text-danger ">
                                    <p><small>Este campo no puede estar vacío</small></p>
                                </div>
                            </div>
                            <div class="w-50">
                                <label for="category" class="form-label">Categoría</label>
                                <select id="category" #category="ngModel" [(ngModel)]="product.category" class="form-select "
                                    name="category" required>
                                    <option value="Alimentos">Alimentos</option>
                                    <option value="Deportes">Deportes</option>
                                    <option value="Electrodomesticos">Electrodomésticos</option>
                                    <option value="Higiene">Higiene</option>
                                    <option value="Ropa">Ropa</option>
                                    <option value="Tecnologia">Tecnología</option>
                                </select>
                                <!-- Mensaje de error -->
                                <div *ngIf="category.touched && category.errors?.['required']"
                                    class="text-danger ">
                                    <p><small>Este campo no puede estar vacío</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Botón -->
                    <div class="text-end mt-4">
                        <button class="btn btn-add rounded-0" [disabled]="productsForm.invalid" type="submit" >{{buttonName}}</button>
                    </div>
                </form>
            </section>
        </div>
        <div class="col-auto col-lg-2"></div>
    </div>
</div>