<div class="container">
    <div class="row">
        <div class="col-auto col-lg-2"></div>
        <div class="col-12 col-lg-8">
            <!-- Breadcrumb -->
            <section class="mt-3">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a class="font-blue text-decoration-none fw-medium" [routerLink]="['/']">Inicio</a></li>
                      <li class="breadcrumb-item"><a class="font-blue text-decoration-none fw-medium" [routerLink]="['/products']">Productos</a></li>
                      <li class="breadcrumb-item"><a class="text-secondary text-decoration-none fw-medium" >{{buttonName}} producto</a></li>
                    </ol>
                  </nav>
            </section>
            <!-- Título -->
            <section>
                <div class="mt-4 mb-5">
                    <h1 class="text-center mb-2 display-5 fw-semibold font-blue ">{{formTitle}} <i class="bi bi-cart-plus"></i></h1>
                </div>
            </section>
            <section class="card p-5 rounded-0 card-border-blue">
                <form #productsForm="ngForm" (ngSubmit)="onSubmit(productsForm)">
                    <!-- Datos -->
                    <div class="row mt-2">
                        <div class="col d-flex justify-content-between mx-2">
                            <div class="me-2">
                                <label class="form-label" for="title">Nombre</label>
                                <input #title="ngModel" [(ngModel)]="inputTitle"
                                    class="form-control" name="title" id="title" type="text" placeholder="Ingrese el nombre"
                                    required maxlength="50">
                                <!-- Mensaje de error -->
                                <div *ngIf="title.touched && title.errors?.['required']" class="text-danger ">
                                    <p><small>Este campo no puede estar vacío</small></p>
                                </div>
                            </div>
                            <div class="me-2">
                                <label for="sku" class="form-label">SKU</label>
                                <input [(ngModel)]="inputSku" type="text" name="sku" id="sku"
                                    class="form-control" #sku="ngModel" placeholder="#SAF-03W"
                                    required minlength="2" maxlength="10" (blur)="validateSku()">
                                <!-- Mensajes de error -->
                                <div *ngIf="sku.touched && sku.errors?.['required']" class="text-danger ">
                                    <p><small>Este campo no puede estar vacío</small></p>
                                </div>
                                <div *ngIf="sku.touched && sku.errors?.['minlength']" class="text-danger ">
                                    <p><small>Este campo no puede tener menos de 2 caracteres</small></p>
                                </div>
                                <div *ngIf="sku.touched && sku.errors?.['skuRepeated']"
                                    class="text-danger ">
                                    <p><small>El sku ingresado ya existe</small></p>
                                </div>
                                <div *ngIf="sku.touched && sku.errors?.['httpError']"
                                    class="text-danger ">
                                    <p><small>No es posible validar el sku ahora, inténtalo más tarde</small></p>
                                </div>
                            </div>
                            <div class="me">
                                <label for="price" class="form-label">Precio</label>
                                <input #price="ngModel" [(ngModel)]="inputPrice" type="number"
                                    name="price" id="price" class="form-control" placeholder="$0" required min="1" max="9999999" minlength="1"
                                    maxlength="9" [ngModel]="product.price === 0 ? '' : product.price">
                                <!-- Mensajes de error -->
                                <div *ngIf="price.touched && price.errors?.['required']" class="text-danger ">
                                    <p><small>Este campo no puede estar vacío</small></p>
                                </div>
                                <div *ngIf="price.touched && price.errors?.['min']" class="text-danger ">
                                    <p><small>Este campo no puede ser menor a 1</small></p>
                                </div>
                                <div *ngIf="price.touched && price.errors?.['max']" class="text-danger ">
                                    <p><small>Este campo no puede ser mayor a 9.999.999</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row my-5">
                        <div class="col">
                            <div class="me-2 w-100">
                                <label class="form-label" for="image">Imagen</label>
                                <input name="image" id="image" type="text" #image="ngModel" class="form-control"
                                    [(ngModel)]="inputImage" placeholder="Ingrese la URL" maxlength="500" required pattern="^https?:\/\/[\w\-\.]+(\.[a-zA-Z]{2,3})?(:\d+)?(\/[^\s]*)?$">
                                <!-- Mensajes de error -->
                                <div *ngIf="image.touched && image.errors?.['required']" class="text-danger ">
                                    <p><small>Este campo no puede estar vacío</small></p>
                                </div>
                                <div *ngIf="image.touched && image.errors?.['pattern']" class="text-danger ">
                                    <p><small>Este campo debe ser una url</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="me-2 w-100">
                                <label class="form-label" for="description">Descripción</label>
                                <textarea #description="ngModel" [(ngModel)]="inputDescription" class="form-control"
                                    name="description" id="description" cols="30" rows="5" placeholder="Ingrese la descripción" required
                                    maxlength="1000">
                                </textarea>
                                <!-- Mensajes de error -->
                                <div *ngIf="description.touched && description.errors?.['required']"
                                    class="text-danger ">
                                    <p><small>Este campo no puede estar vacío</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="col d-flex justify-content-around  mx-2">
                            <div class="me-2 w-50">
                                <label for="provider" class="form-label">Proveedor</label>
                                <select #providerVar="ngModel" [(ngModel)]="inputProvider" class="form-select "
                                    name="provider" id="provider" required>
                                    <option *ngFor="let provider of providerSelect" [ngValue]="provider">
                                        {{provider.companyName}}</option>
                                </select>
                                <!-- Mensajes de error -->
                                <div *ngIf="providerVar.touched && providerVar.errors?.['required']"
                                    class="text-danger ">
                                    <p><small>Este campo no puede estar vacío</small></p>
                                </div>
                            </div>
                            <div class="w-50">
                                <label for="category" class="form-label">Categoría</label>
                                <select #categoryVar="ngModel" [(ngModel)]="inputCategory" class="form-select "
                                    name="category" id="category" required>
                                    <option *ngFor="let category of categorySelect" [ngValue]="category">
                                    {{category.name}}</option>
                                </select>
                                <!-- Mensaje de error -->
                                <div *ngIf="categoryVar.touched && categoryVar.errors?.['required']"
                                    class="text-danger ">
                                    <p><small>Este campo no puede estar vacío</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Botón -->
                    <div class="text-end mt-4">
                        <button class="btn btn-add rounded-0" [disabled]="productsForm.invalid" type="submit" >{{buttonName}}</button>
                    </div>
                </form>
            </section>
        </div>
        <div class="col-auto col-lg-2"></div>
    </div>
</div>