body{
    background-color: #FBFEF9;
}

.bg-blue{
    background-color: #011d69;
}

.bg-bone{
    color: #FBFEF9; 
}

.font-blue{
    color: #011d69;
}

.font-bone{
    color: #FBFEF9;
}

.btn-add{
    background-color: #011d69;
    color:#FBFEF9;
}

.btn-add:hover{
    background-color: #001652;
    color:#FBFEF9;
}

/* Tooltip styles */
.custom-tooltip .tooltip-inner {
    max-width: 100rem;
    background-color: #FBFEF9;
    color: #011d69;
    font-weight: bold;
    white-space: nowrap;
}

.custom-tooltip.bs-tooltip-top .tooltip-arrow::before {
    border-top-color: transparent;
}

/* SweetAlert2 Custom */
.swal2-popup{
    border-radius: 0 !important;
}

.swal2-icon {
    border-color: #011d69 !important;
    color: #011d69 !important;
}  

.swal2-title {
    color: #011d69 !important;
}

.swal2-styled {
    border-radius: 0 !important;
}

.swal2-confirm{
    background-color: #011d69 !important;
}

.swal2-cancel{
    background-color: #9FA6B2 !important;
}

.swal2-input{
    border-color: #001652 !important;
}