<div class="container">
    <div class="row">
        <div class="col-auto col-lg-2"></div>
        <div class="col-12 col-lg-8">
            <div class="my-5">
                <h1 class="text-center mb-2 display-5 fw-semibold font-blue">AGREGAR ÓRDEN DE COMPRA</h1>
            </div>
            <div class="card p-5 rounded-0 card-border-blue">
                <!-- Datos -->
                <div class="row mt-2">
                    <div class="col d-flex justify-content-evenly mx-2">
                        <div class="me-2 input-width">
                            <label class="form-label" for="fechaEmision">Fecha de emisión</label>
                            <input id="txtFechaEmision" [(ngModel)]="txtFechaEmision" class="form-control" name="fechaEmision" type="date"
                                required>
                        </div>
                        <div class="me-2 input-width">
                            <label for="fechaEntrega" class="form-label">Fecha de entrega</label>
                            <input id="txtFechaEntrega" [(ngModel)]="txtFechaEntrega" class="form-control" name="fechaEntrega" type="date"
                                required>
                        </div>
                        <div class="w-50">
                            <label for="direccion" class="form-label">Dirección de recepción</label>
                            <input type="text" id="txtDireccion" [(ngModel)]="txtDireccion" name="direccion" class="form-control"
                                placeholder="Ingrese la dirección">
                        </div>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col d-flex justify-content-around  mx-2">
                        <div class="me-2 w-50">
                            <label for="proveedor" class="form-label">Proveedor</label>
                            <select id="selectProveedor" [(ngModel)]="txtProveedor" class="form-select " name="proveedor">
                                <option value="proveedorA">ProveedorA</option>
                                <option value="proovedorB">ProveedorB</option>
                                <option value="proovedorC">ProveedorC</option>
                            </select>
                        </div>
                        <div class="me-2 w-50">
                            <label for="productos" class="form-label">Productos</label>
                            <select id="selectProductos" [(ngModel)]="txtProducto" class="form-select " name="productos">
                                <option value="productoA">ProductoA</option>
                                <option value="productoB">ProductoB</option>
                                <option value="productoC">ProductoC</option>
                            </select>
                        </div>
                        <div class="me-1">
                            <label for="cantidad" class="form-label">Cantidad</label>
                            <input type="number" id="txtCantidad" [(ngModel)]="txtCantidad" name="cantidad" class="form-control"
                                placeholder="1" min="1" minvalue="1">
                        </div>
                        <div>
                            <label for="total" class="form-label">Total</label>
                            <input type="number" id="txtTotal" [(ngModel)]="txtTotal" name="total" class="form-control" placeholder="$0"
                                min="1" minvalue="1">
                        </div>
                    </div>
                    <!-- Botón -->
                    <div class="text-end mt-4">
                        <button class="btn btn-add rounded-0" type="" (click)="addOrder()">Agregar</button>
                    </div>
                </div>
            </div>
            <div class="col-auto col-lg-2"></div>
        </div>
    </div>
</div>
