<div class="container">
    <div class="row">
        <div class="col-auto col-lg-1"></div>
        <div class="col-12 col-lg-10">
            <section>
                <div class="my-5">
                    <h1 class="text-center mb-2 display-5 fw-semibold font-blue">{{title}} <i class="bi bi-clipboard-plus"></i></h1>
                </div>
                <p><a class=" fs-6 font-blue" [routerLink]="['/orders']">VOLVER</a></p>
            </section>
            <div class="row">
                <!-- Form de Items -->
                <div class="col card rounded-0 p-3 card-border-blue me-2">
                    <div class="subtitle mb-4">
                        <h2 class="fs-5 font-blue">Agregar Item</h2>
                    </div>
                    <form #listItemForm="ngForm" (ngSubmit)="addItem()">
                        <div class="row">
                            <div class="col">
                                <div class="w-100">
                                    <label for="proveedor" class="form-label">Proveedor</label>
                                    <select [disabled]="orden.orderDetails.length > 0" (change)="selectProvider()" #proveedor="ngModel" id="selectProveedor"
                                        [(ngModel)]="codProveedorSeleccionado" class="form-select " name="proveedor" required>
                                        <option *ngFor="let proveedor of selectProveedores" value="{{proveedor.code}}">
                                            {{proveedor.companyName}}</option>
                                    </select>
                                    <!-- Mensaje de error -->
                                    <div *ngIf="proveedor.touched && proveedor.errors?.['required']"
                                        class="text-danger ">
                                        <p><small>Este campo no puede estar vacío</small></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col d-flex justify-content-between ">
                                <div class="w-75 me-2">
                                    <label for="productos" class="form-label">Producto</label>
                                    <select id="selectProductos" #producto="ngModel" [(ngModel)]="skuProductoSeleccionado"
                                        class="form-select " name="productos" required>
                                        <option *ngFor="let producto of selectProductos" value="{{producto.sku}}">
                                            {{producto.title}}</option>
                                    </select>
                                    <!-- Mensaje de error -->
                                    <div *ngIf="producto.touched && producto.errors?.['required']" class="text-danger ">
                                        <p><small>Este campo no puede estar vacío</small></p>
                                    </div>
                                </div>
                                <div class="w-25">
                                    <label for="cantidad" class="form-label">Cantidad</label>
                                    <input type="number" #cantidad="ngModel" id="txtCantidad"
                                        [(ngModel)]="cantidadProductoSeleccionado" name="cantidad" class="form-control"
                                        placeholder="1" min="1" max="9999" required>
                                    <!-- Mensaje de error -->
                                    <div *ngIf="cantidad.touched && cantidad.errors?.['min']" class="text-danger ">
                                        <p><small>El valor del campo debe ser mayor a 0</small></p>
                                    </div>
                                    <div *ngIf="cantidad.touched && cantidad.errors?.['max']" class="text-danger ">
                                        <p><small>El valor del campo debe ser menor a 9.999</small></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col text-end">
                                <button class="btn btn-add rounded-0" [disabled]="listItemForm.invalid" type="submit">Agregar Item</button>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- Form de órdenes -->
                <div class="col card rounded-0 p-3 card-border-blue">
                    <div class="subtitle mb-4">
                        <h2 class="fs-5 font-blue">Agregar Orden</h2>
                    </div>
                    <form #ordersForm="ngForm" (ngSubmit)="onSubmit(ordersForm)">
                        <div class="row">
                            <div class="col">
                                <label class="form-label" for="fechaEmision">Fecha de emisión</label>
                                <input id="txtFechaEmision" #fechaEmision="ngModel" [(ngModel)]="orden.issueDate" class="form-control"
                                    name="fechaEmision" type="date" required>
                                <!-- Mensaje de error -->
                                <div *ngIf="fechaEmision.touched && fechaEmision.errors?.['required']" class="text-danger ">
                                    <p><small>Este campo no puede estar vacío</small></p>
                                </div>
                            </div>
                            <div class="col">
                                <label for="fechaEntrega" class="form-label">Fecha de entrega</label>
                                <input id="txtFechaEntrega" #fechaEntrega="ngModel" [(ngModel)]="orden.deliveryDate" class="form-control"
                                    name="fechaEntrega" type="date" required>
                                <!-- Mensaje de error -->
                                <div *ngIf="fechaEntrega.touched && fechaEntrega.errors?.['required']" class="text-danger ">
                                    <p><small>Este campo no puede estar vacío</small></p>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col">
                                <label for="direccion" class="form-label">Información de recepción</label>
                                <textarea id="txtDireccion" #recepcion="ngModel" [(ngModel)]="orden.receptionInfo" name="direccion"
                                    class="form-control" placeholder="Ingrese la información de recepción" required maxlength="300"></textarea>
                                <!-- Mensaje de error -->
                                <div *ngIf="recepcion.touched && recepcion.errors?.['required']" class="text-danger ">
                                    <p><small>Este campo no puede estar vacío</small></p>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col">
                                <div class="card rounded-0 p-2 card-border-blue">
                                    <div class="scrollable">
                                    <!-- Tabla de items agregados -->
                                    <table *ngIf="orden.orderDetails.length > 0" class="table m-0">
                                        <thead>
                                          <tr class="text-center">
                                            <th class="fw-medium font-blue">Producto</th>
                                            <th class="fw-medium font-blue">Cantidad</th>
                                            <th class="fw-medium font-blue">Subtotal</th>
                                            <th class="fw-medium font-blue"><i class="bi bi-gear-fill" style="width: 32px; width: 32px;"></i></th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                          <tr *ngFor="let item of orden.orderDetails" class="text-center">
                                            <td  class="fw-medium font-blue">{{item.product.title}}</td>
                                            <td  class="fw-medium font-blue">x{{item.quantity}}</td>
                                            <td  class="fw-medium font-blue">{{(item.product.price * item.quantity!) | currency}}</td>
                                            <td><a class="text-decoration-none font-blue" (click)="removeItem(item.product.sku)"><i class="bi bi-x-circle remove"></i></a></td>
                                          </tr>
                                          <tr class="text-center ">
                                            <td></td>
                                            <td class="fw-medium font-blue">Total</td>
                                            <td class="fw-medium font-blue">{{orden.total | currency}}</td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </div>
                                    <p *ngIf="orden.orderDetails.length === 0" class="text-secondary ">Todavía no hay items agregados</p>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col text-end">
                                <button class="btn btn-add rounded-0" [disabled]="ordersForm.invalid" type="submit">{{buttonName}}</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-auto col-lg-1"></div>
        </div>
    </div>
</div>