<div class="container">
    <div class="row">
        <div class="col-auto col-lg-2"></div>
        <div class="col-12 col-lg-8">
            <section>
                <div class="my-5">
                    <h1 class="text-center mb-2 display-5 fw-semibold font-blue">{{title}}</h1>
                </div>
                <p><a class=" fs-6 font-blue" [routerLink]="['/orders']">VOLVER</a></p>
            </section>
            <div class="card p-5 rounded-0 card-border-blue">
                <form #ordersForm="ngForm" (ngSubmit)="onSubmit(ordersForm)">
                    <!-- Datos -->
                    <div class="row mt-2">
                        <div class="col d-flex justify-content-evenly mx-2">
                            <div class="me-2 input-width">
                                <label class="form-label" for="fechaEmision">Fecha de emisión</label>
                                <input id="txtFechaEmision" [(ngModel)]="orden.fechaEmision" class="form-control"
                                    name="fechaEmision" type="date" required>
                            </div>
                            <div class="me-2 input-width">
                                <label for="fechaEntrega" class="form-label">Fecha de entrega</label>
                                <input id="txtFechaEntrega" [(ngModel)]="orden.fechaEntrega" class="form-control"
                                    name="fechaEntrega" type="date" required>
                            </div>
                            <div class="w-50">
                                <label for="direccion" class="form-label">Información de recepción</label>
                                <input type="text" id="txtDireccion" [(ngModel)]="orden.infoRecepcion" name="direccion"
                                    class="form-control" placeholder="Ingrese la dirección">
                            </div>
                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="col mx-2">
                            <div class="w-100">
                                <label for="proveedor" class="form-label">Proveedor</label>
                                <select (change)="selectProvider()" id="selectProveedor" [(ngModel)]="codigoProveedor"
                                    class="form-select " name="proveedor">
                                    <option *ngFor="let proveedor of proveedores" value="{{proveedor.codigo}}">
                                        {{proveedor.razonSocial}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col card rounded-0 p-3 card-border-blue">
                            <div class="row">
                                <div class="col">
                                    <div class="w-100">
                                        <label for="productos" class="form-label">Producto</label>
                                        <select id="selectProductos" [(ngModel)]="skuProducto" class="form-select "
                                            name="productos">
                                            <option *ngFor="let producto of productos" value="{{producto.sku}}">
                                                {{producto.nombre}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col d-flex align-items-end">
                                    <div class="w-100">
                                        <label for="cantidad" class="form-label">Cantidad</label>
                                        <input type="text" id="txtCantidad" [(ngModel)]="orden.listaItems" name="cantidad"
                                               class="form-control" placeholder="1" min="1" minvalue="1">
                                    </div>
                                    <div class="ms-2">
                                        <button class="btn btn-add rounded-0 align-bottom">Agregar Item</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Botón -->
                        <div class="text-end mt-4">
                            <button class="btn btn-add rounded-0" type="submit">{{buttonName}}</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-auto col-lg-2"></div>
        </div>
    </div>
</div>