th{
    background-color: #011d69;
    color: #FBFEF9;
    border-color: #011d69;
}

.option:hover{
    cursor: pointer;
}

.img-border{
    border: 1px solid lightgray;
}

.product-img{
    max-height: 15rem;
    min-height: 15rem;
    width: 100%;
    object-fit: cover;
}

.alert-custom{
    border-color: #011d69;
    background-color: #adadad35;
}

.checkbox-custom{
    border-color: #011d69;
    color:#011d69;
}

.checkbox-custom:hover{
    border-color: #011d69;
    color:#011d69;
}
.btn-check:checked + .checkbox-custom {
    background-color: #011d69;
    border-color: #011d69;
    color: #FBFEF9;
}

input, select {
    border-color: #001652;
    border-radius: 0;
}

.image-td {
    height: 10%;
    width: 10%;
}