<div class="container text-center">
    <div class="row">
        <div class="col-auto col-lg-2"></div>
        <div class="col-12 col-lg-8">
            <section class="mt-3">
                <h1 class="display-5 fw-semibold font-blue">GESTIÓN DE ÓRDENES DE COMPRA</h1>
            </section>
            <!-- Botón agregar -->
            <div class="text-center text-sm-end  mt-5">
                <a class="btn btn-add rounded-0 " routerLink="form-order">Agregar órden</a>
            </div>
            <!-- Tabla -->
            <section class="mt-2">
                <table class="table table-hover table-bordered border-secondary-subtle">
                    <thead>
                        <tr>
                            <th>Número de órden</th>
                            <th>Fecha de emisión</th>
                            <th>Fecha de entrega</th>
                            <th>Proveedor</th>
                            <th>Total</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody id="table-body">
                        <!-- Órdenes creadas -->
                    </tbody>
                </table>
            </section>
        </div>
        <div class="col-auto col-lg-2"></div>
    </div>
</div>