<div class="container">
    <div class="row">
        <div class="offset-2 col-8 offset-2">
            <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
                <h1 class="display-5 fw-semibold font-blue">SISTEMA DE GESTIÓN DE COMPRAS</h1>
                <p class="fs-5 font-blue">Soluciones completas y eficientes para administrar todas las áreas de tu empresa de manera ágil y efectiva. Nuestra plataforma te permite optimizar tus procesos y aumentar la productividad de tu equipo.</p>
            </div>
            <section class="row row-cols-1 row-cols-md-3 mb-3 text-center">
                <div class="col">
                    <article class="card mb-4 rounded-3 shadow-sm">
                        <div class="card-header py-3 bg-blue">
                            <h4 class="my-0 fw-normal font-bone">Proveedores</h4>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title pricing-card-title font-blue" id="cantidad-proveedores">{{providersQuantity}}</h1>
                        </div>
                    </article>
                    <article>
                        <i class="bi bi-person-fill font-blue" style="font-size: 5rem;"></i>
                    </article>
                </div>
                <div class="col">
                    <article class="card mb-4 rounded-3 shadow-sm">
                        <div class="card-header py-3 bg-blue">
                            <h4 class="my-0 fw-normal font-bone">Productos</h4>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title pricing-card-title font-blue" id="cantidad-productos">{{productsQuantity}}</h1>
                        </div>
                    </article>
                    <article>
                        <i class="bi bi-cart2 font-blue" style="font-size: 5rem;"></i>
                    </article>
                </div>
                <div class="col">
                    <article class="card mb-4 rounded-3 shadow-sm">
                        <div class="card-header py-3 bg-blue">
                            <h4 class="my-0 fw-normal font-bone">Órdenes</h4>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title pricing-card-title font-blue" id="cantidad-ordenes">{{ordersQuantity}}</h1>
                        </div>
                    </article>
                    <article>
                        <i class="bi bi-clipboard-check font-blue" style="font-size: 5rem;"></i>
                    </article>
                </div>
            </section>
        </div>
    </div>
</div>