<div class="container">
    <div class="row">
        <div class="offset-2 col-8 offset-2">
            <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
                <h1 class="display-5 fw-semibold font-blue">SISTEMA DE GESTIÓN EMPRESARIAL</h1>
                <p class="fs-5 font-blue">Quickly build an effective pricing table for your potential
                    customers with this Bootstrap example. It’s built with default Bootstrap components and utilities
                    with little customization.</p>
            </div>
            <section class="row row-cols-1 row-cols-md-3 mb-3 text-center">
                <div class="col">
                    <article class="card mb-4 rounded-3 shadow-sm">
                        <div class="card-header py-3 bg-blue">
                            <h4 class="my-0 fw-normal font-bone">Proveedores</h4>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title pricing-card-title font-blue" id="cantidad-proveedores">10</h1>
                        </div>
                    </article>
                </div>
                <div class="col">
                    <article class="card mb-4 rounded-3 shadow-sm">
                        <div class="card-header py-3 bg-blue">
                            <h4 class="my-0 fw-normal font-bone">Productos</h4>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title pricing-card-title font-blue" id="cantidad-productos">10</h1>
                        </div>
                    </article>
                </div>
                <div class="col">
                    <article class="card mb-4 rounded-3 shadow-sm">
                        <div class="card-header py-3 bg-blue">
                            <h4 class="my-0 fw-normal font-bone">Órdenes</h4>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title pricing-card-title font-blue" id="cantidad-ordenes">10</h1>
                        </div>
                    </article>
                </div>
            </section>
        </div>
    </div>
</div>