<div class="container">
    <div class="row">
        <div class="col-auto col-lg-2"></div>
        <div class="col-12 col-lg-8">
            <section>
                <div class="my-5">
                    <h2 class="text-center mb-2 display-5 fw-semibold font-blue">{{title}}</h2>
                </div>
                <p><a class=" fs-6 font-blue" [routerLink]="['/providers']">VOLVER</a></p>
            </section>
            <section class="card p-5 rounded-0 card-border-blue">
                <form #providersForm="ngForm" (ngSubmit)="onSubmit(providersForm)">
                    <!-- Datos de proveedor -->
                    <div class="row">
                        <div class="col font-blue subtitle mb-3">
                            <h2 class="fs-5">Datos de proveedor</h2>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col d-flex justify-content-between mx-2">
                            <div class="me-2">
                                <label for="codigo" class="form-label">Código</label>
                                <input class="form-control" #codigo="ngModel" [(ngModel)]="proveedor.codigo"
                                    name="codigo" type="text" placeholder="AB12" required minlength="4" maxlength="10" [disabled]="codigoParam">
                                <!-- Mensaje de error -->
                                <div *ngIf="codigo.touched && codigo.errors?.['required']" class="text-danger ">
                                    <p><small>Este campo no puede estar vacío</small></p>
                                </div>
                                <div *ngIf="codigo.touched && codigo.errors?.['minlength']" class="text-danger">
                                    <p><small>No pueden haber menos de 4 caracteres</small></p>
                                </div>
                            </div>
                            <div class="me-2">
                                <label class="form-label" for="razonSocial">Razón Social</label>
                                <input id="txtEmpresa" #razonSocial="ngModel" class="form-control"
                                    [(ngModel)]="proveedor.razonSocial" name="razonSocial" type="text"
                                    placeholder="Ingrese razón social" required maxlength="60"
                                    pattern="^[a-zA-Z0-9ñÑáéíóúÁÉÍÓÚ ]+$">
                                <!-- Mensaje de error -->
                                <div *ngIf="razonSocial.touched && razonSocial.errors?.['required']"
                                    class="text-danger ">
                                    <p><small>Este campo no puede estar vacío</small></p>
                                </div>
                                <div *ngIf="razonSocial.touched && razonSocial.errors?.['pattern']" class="text-danger">
                                    <p><small>No pueden haber caracteres especiales</small></p>
                                </div>
                            </div>
                            <div class="me-2">
                                <label for="rubro" class="form-label">Rubro</label>
                                <input id="txtRubro" #rubro="ngModel" type="text" [(ngModel)]="proveedor.rubro"
                                    name="rubro" class="form-control" placeholder="Ingrese el rubro" required
                                    minlength="5" maxlength="60" pattern="^[a-zA-Z0-9ñÑáéíóúÁÉÍÓÚ ]+$">
                                <!-- Mensaje de error -->
                                <div *ngIf="rubro.touched && rubro.errors?.['required']" class="text-danger ">
                                    <p><small>Este campo no puede estar vacío</small></p>
                                </div>
                                <div *ngIf="rubro.touched && rubro.errors?.['minlength']" class="text-danger">
                                    <p><small>No pueden haber menos de 5 caracteres</small></p>
                                </div>
                                <div *ngIf="rubro.touched && rubro.errors?.['pattern']" class="text-danger">
                                    <p><small>No pueden haber caracteres especiales</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="col">
                            <div class="w-100">
                                <label for="webSite" class="form-label">Sitio Web</label>
                                <input type="text" name="webSite" [(ngModel)]="proveedor.sitioWeb" class="form-control"
                                    placeholder="https://example.com">
                            </div>
                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="row">
                            <div class="col d-flex justify-content-center">
                                <div class="me-2 w-75">
                                    <label for="calle" class="form-label">Calle</label>
                                    <input type="text" #calle="ngModel" name="calle" [(ngModel)]="proveedor.calle"
                                        class="form-control" placeholder="Ingrese la calle" required minlength="5"
                                        pattern="^[a-zA-Z0-9ñÑáéíóúÁÉÍÓÚ ]+$">
                                    <!-- Mensaje de error -->
                                    <div *ngIf="calle.touched && calle.errors?.['required']" class="text-danger ">
                                        <p><small>Este campo no puede estar vacío</small></p>
                                    </div>
                                    <div *ngIf="calle.touched && calle.errors?.['minlength']" class="text-danger">
                                        <p><small>No pueden haber menos de 5 caracteres</small></p>
                                    </div>
                                    <div *ngIf="calle.touched && calle.errors?.['pattern']" class="text-danger">
                                        <p><small>No pueden haber caracteres especiales</small></p>
                                    </div>
                                </div>
                                <div class="me-2">
                                    <label for="nroCalle" class="form-label">Número</label>
                                    <input type="text" #num="ngModel" name="nroCalle" [(ngModel)]="proveedor.num"
                                        class="form-control" placeholder="0123" required maxlength="5"
                                        pattern="^[0-9]+$">
                                    <!-- Mensaje de error -->
                                    <div *ngIf="num.touched && num.errors?.['required']" class="text-danger ">
                                        <p><small>Este campo no puede estar vacío</small></p>
                                    </div>
                                    <div *ngIf="num.touched && num.errors?.['pattern']" class="text-danger ">
                                        <p><small>Este campo solo acepta números</small></p>
                                    </div>
                                </div>
                                <div>
                                    <label for="codPostal" class="form-label">Código Postal</label>
                                    <input type="text" #codPostal="ngModel" name="codPostal"
                                        [(ngModel)]="proveedor.codPostal" class="form-control" placeholder="C.P"
                                        required minlength="4" maxlength="6" pattern="^[0-9]+$">
                                    <!-- Mensaje de error -->
                                    <div *ngIf="codPostal.touched && codPostal.errors?.['required']"
                                        class="text-danger ">
                                        <p><small>Este campo no puede estar vacío</small></p>
                                    </div>
                                    <div *ngIf="codPostal.touched && codPostal.errors?.['minlength']"
                                        class="text-danger ">
                                        <p><small>La longitud no debe ser menor a 4 caracteres</small></p>
                                    </div>
                                    <div *ngIf="codPostal.touched && codPostal.errors?.['pattern']"
                                        class="text-danger ">
                                        <p><small>Este campo solo acepta números</small></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col d-flex">
                                <div class="w-50 me-2">
                                    <label for="pais" class="form-label">Pais</label>
                                    <select type="select" #pais="ngModel" name="pais" class="form-select"
                                        (change)="selectCountry()" [(ngModel)]="proveedor.pais" required>
                                        <option *ngFor="let country of countries" value="{{country.name}}">
                                            {{country.name}}</option>
                                    </select>
                                    <!-- Mensaje de error -->
                                    <div *ngIf="pais.touched && pais.errors?.['required']" class="text-danger ">
                                        <p><small>Este campo no puede estar vacío</small></p>
                                    </div>
                                </div>
                                <div class="w-50 me-2">
                                    <label for="provincia" class="form-label">Provincia</label>
                                    <select type="text" #provincia="ngModel" name="provincia" class="form-select"
                                        (change)="selectState()" [(ngModel)]="proveedor.provincia" required>
                                        <option *ngFor="let state of states" value="{{state.name}}">{{state.name}}</option>
                                        <option *ngIf="states.length === 0" value="Sin Provincia">--------</option>
                                    </select>
                                    <!-- Mensaje de error -->
                                    <div *ngIf="provincia.touched && provincia.errors?.['required']"
                                        class="text-danger ">
                                        <p><small>Este campo no puede estar vacío</small></p>
                                    </div>
                                </div>

                                <div class="w-50">
                                    <label for="localidad" class="form-label">Localidad</label>
                                    <select type="text" #localidad="ngModel" name="localidad" class="form-select" [(ngModel)]="proveedor.localidad" required>
                                        <option *ngFor="let city of cities" value="{{city.name}}">{{city.name}}</option>
                                        <option *ngIf="cities.length === 0" value="Sin Localidad">--------</option>
                                    </select>
                                    <!-- Mensaje de error -->
                                    <div *ngIf="localidad.touched && localidad.errors?.['required']"
                                        class="text-danger ">
                                        <p><small>Este campo no puede estar vacío</small></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Datos fiscales -->
                    <div class="row">
                        <div class="col font-blue subtitle mt-5">
                            <h2 class="fs-5 ">Datos fiscales</h2>
                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="col d-flex justify-content-evenly ">
                            <div class="me-2 w-25">
                                <label for="cuit" class="form-label">CUIT</label>
                                <input type="text" #cuit="ngModel" [(ngModel)]="proveedor.cuit" name="cuit"
                                    class="form-control" placeholder="XX-XXXXXXXX-X" required
                                    pattern="^[0-9]{2}-[0-9]{8}-[0-9]$" [disabled]="codigoParam">
                                <!-- Mensaje de error -->
                                <div *ngIf="cuit.touched && cuit.errors?.['required']" class="text-danger ">
                                    <p><small>Este campo no puede estar vacío</small></p>
                                </div>
                                <div *ngIf="cuit.touched && cuit.errors?.['pattern']" class="text-danger ">
                                    <p><small>Este campo debe cumplir el formato numérico XX-XXXXXXXX-X</small></p>
                                </div>
                            </div>
                            <div class="w-75 text-center">
                                <label for="condicionIva" class="form-label">Condición IVA</label>
                                <div class="d-flex justify-content-evenly">
                                    <label for="responsable" class="form-check-label">
                                        <span class="me-2">Resp. Inscripto</span>
                                        <input class="form-check-input" [(ngModel)]="proveedor.iva" id="responsable"
                                            type="radio" name="condicionIva" value="Responsable Inscripto">
                                    </label>
                                    <label for="monotributista" class="form-check-label">
                                        <span class="me-2">Monotributista</span>
                                        <input class="form-check-input" [(ngModel)]="proveedor.iva" id="monotributista"
                                            type="radio" name="condicionIva" value="Monotributista">
                                    </label>
                                    <label for="exento" class="form-check-label">
                                        <span class="me-2">Exento</span>
                                        <input class="form-check-input" [(ngModel)]="proveedor.iva" id="exento"
                                            type="radio" name="condicionIva" value="Exento">
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Datos de contacto -->
                    <div class="row">
                        <div class="col font-blue subtitle mt-5">
                            <h2 class="fs-5">Datos de contacto</h2>
                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="row">
                            <div class="col d-flex justify-content-center mx-2">
                                <div class="me-2 w-50 ">
                                    <label class="form-label" for="nombre">Nombre</label>
                                    <input class="form-control" #nombre="ngModel" [(ngModel)]="proveedor.nombre"
                                        name="nombre" type="text" placeholder="Ingrese el nombre" required
                                        maxlength="50" pattern="^[a-zA-ZñÑáéíóúÁÉÍÓÚ ]+$">
                                    <!-- Mensaje de error -->
                                    <div *ngIf="nombre.touched && nombre.errors?.['required']" class="text-danger ">
                                        <p><small>Este campo no puede estar vacío</small></p>
                                    </div>
                                    <div *ngIf="nombre.touched && nombre.errors?.['pattern']" class="text-danger ">
                                        <p><small>Este campo solo acepta letras</small></p>
                                    </div>
                                </div>
                                <div class="me-2 w-50">
                                    <label for="apellido" class="form-label">Apellido</label>
                                    <input type="text" #apellido="ngModel" [(ngModel)]="proveedor.apellido"
                                        name="apellido" class="form-control" placeholder="Ingrese el apellido" required
                                        maxlength="50" pattern="^[a-zA-ZñÑáéíóúÁÉÍÓÚ ]+$">
                                    <!-- Mensaje de error -->
                                    <div *ngIf="apellido.touched && apellido.errors?.['required']" class="text-danger ">
                                        <p><small>Este campo no puede estar vacío</small></p>
                                    </div>
                                    <div *ngIf="apellido.touched && apellido.errors?.['pattern']" class="text-danger ">
                                        <p><small>Este campo solo acepta letras</small></p>
                                    </div>
                                </div>
                                <div class="w-50">
                                    <label for="telefono" class="form-label">Teléfono</label>
                                    <input id="txtTelefono" #telefono="ngModel" [(ngModel)]="proveedor.telefono"
                                        type="text" name="telefono" class="form-control" placeholder="1234567890"
                                        required pattern="^[0-9]+$" minlength="7" maxlength="12">
                                    <!-- Mensaje de error -->
                                    <div *ngIf="telefono.touched && telefono.errors?.['required']" class="text-danger ">
                                        <p><small>Este campo no puede estar vacío</small></p>
                                    </div>
                                    <div *ngIf="telefono.touched && telefono.errors?.['pattern']" class="text-danger ">
                                        <p><small>Este campo solo acepta números</small></p>
                                    </div>
                                    <div *ngIf="telefono.touched && telefono.errors?.['minlength']"
                                        class="text-danger ">
                                        <p><small>No pueden haber menos de 7 caracteres</small></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-5">
                            <div class="col d-flex justify-content-around  mx-2">
                                <div class="me-2 w-50">
                                    <label for="email" class="form-label">Email</label>
                                    <input id="txtEmail" #email="ngModel" type="email" [(ngModel)]="proveedor.email"
                                        name="email" class="form-control" placeholder="example@gmail.com" required email
                                        pattern=".*(\.com)$">
                                    <!-- Mensaje de error -->
                                    <div *ngIf="email.touched && email.errors?.['required']" class="text-danger ">
                                        <p><small>Este campo no puede estar vacío</small></p>
                                    </div>
                                    <div *ngIf="email.touched && (email.errors?.['email'] || email.errors?.['pattern']) "
                                        class="text-danger ">
                                        <p><small>Este campo debe cumplir el formato nombre&commat;ejemplo.com</small>
                                        </p>
                                    </div>
                                </div>
                                <div class="w-auto">
                                    <label for="rol" class="form-label">Rol</label>
                                    <input type="text" #rol="ngModel" [(ngModel)]="proveedor.rol" name="rol"
                                        class="form-control" placeholder="Ingrese el rol" required maxlength="50"
                                        pattern="^[a-zA-Z0-9ñÑáéíóúÁÉÍÓÚ ]+$">
                                    <!-- Mensaje de error -->
                                    <div *ngIf="rol.touched && rol.errors?.['required']" class="text-danger ">
                                        <p><small>Este campo no puede estar vacío</small></p>
                                    </div>
                                    <div *ngIf="rol.touched && rol.errors?.['pattern']" class="text-danger">
                                        <p><small>No pueden haber caracteres especiales</small></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Botón -->
                    <div class="text-end mt-4">
                        <button class="btn btn-add rounded-0 " [disabled]="providersForm.invalid" type="submit">{{buttonName}}</button>
                    </div>
                </form>
            </section>
        </div>
        <div class="col-auto col-lg-2"></div>
    </div>
</div>