th{
    background-color: #011d69;
    color: #FBFEF9;
    border-color: #011d69;
}

.option:hover{
    cursor: pointer;
}

.alert-custom{
    border-color: #011d69;
    background-color: #adadad35;
}